html {
	font-size:14px;
}

body {
	background-color: #444444;
	border: 5px solid #787878;
	margin: 50px;
	padding: 50px;
	color:white;
}

.main-title {
	font-family: georgia, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 0px;
}

.nav {
	border-bottom: 2px solid #787878;
	padding: 25px 0;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
}

.bottom-nav {
	border-top: 2px solid #787878;
	border-bottom: none;
	margin-top: 25px;
}

.menu-link {
	font-weight: bold;
	color: #33b688;
	font-size: 1.5rem;
	font-family: Arial, sans-serif;

	display: inline-block;
	line-height: 14px;
	border-right: 2px solid #787878;
	padding-right: 10px;
	margin-right: 10px;
}

.menu-link:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

.menu-active {
	color: #fff;
	text-decoration: none;
	pointer-events: none;
}
.menu-seperator {
	font-size:1.5rem;
	margin: 0 10px;
	color:#65CD9B;
}

article h1 {
	font-family: Arial, sans-serif;
	font-size: 2rem;
}

p {
	font-size: 1.5rem; 
}



